html {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 15% 15% 45% auto;
    grid-template-columns: 100%;
    grid-template-areas: "Nav-Bar"
                         "Google-Logo"
                         "Search-Bar"
                         "Buttons"
                         "Footer";     
}

.Nav-Bar {
    list-style: none;
    grid-area: Nav-Bar;   
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.Nav-Item{
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.Nav-Bar :hover {
    cursor: pointer;
    text-decoration: underline;
}

.Nav-Icon{
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    
}

.Nav-Icon :hover {
    cursor: pointer;
    text-decoration: none;
    border-radius: 50%;
    background-color: rgb(204, 201, 201);
}

.Nav-Icon :visited{
    color: inherit;
    text-decoration-color: white;
}

#Google-Logo {
    height: 90px;
    grid-area: Google-Logo;
    margin-top: 2px;
    display: flex;
    justify-content: center;
        
}   

#search-bar {
    background-color:white;
    grid-area: Search-Bar;
    display: flex;
    justify-content: center;
}

input:hover{
    box-shadow: 0px 1px  1px #888, 0px 0px 0.5px 0.5px #888;
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

input:focus {
    outline: none;
}

#search-bar input[type="search"]{
    font-size: 15px;
    border-radius: 100px;
    border-width: 1px;
    height: 44px;
    width: 600px;
    margin-top: 30px;
    padding-left: 44px;
}

#search-icon {
    opacity: 0.3;
    position: relative;
    right: 590px;
    top: 40px;
}

#Buttons {
    font-family: Arial;
    opacity: 0.;
    height: 40px;
    list-style: none;
    grid-area: Buttons;
    display: flex;
    justify-content: center;
}

button {
    width: 160px;
    background-color: #f8f9fa;
    margin-left: 10px;
    border-radius: 4%;
    border-style: none;
}

#Buttons :hover {
    box-shadow:0 1px 1px rgba(0,0,0,.1) ;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    
}

#Footer{
    background-color: #f2f2f2;
    padding-right: 10px;
}

p {
    margin-left: 20px;
    opacity: 0.7;
    font-size: 15px;   
    margin-bottom: 0; 
}

hr {
    opacity: 0.1;
}

.footer {
    font-size: 13.5px;
    opacity: 0.7;
    
    list-style: none;
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-areas: "part1 part2";

}

.footer-item-a {
    list-style: none;
    grid-area: part1;
    display: flex;
    flex-direction: row;
    
}

.footer-item-b {
    list-style: none;
   grid-area: part2;
   display: flex;
    flex-direction: row-reverse;
    

}

.footer-item-a :hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer-item-b :hover {
    cursor: pointer;
    text-decoration: underline;
}

.f-item {
    margin-left: 15px;
    padding: 0px;
}